@model PagedList.IPagedList<ReadNewsWebApp.Models.Article>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Tin Dinh Dưỡng";
}
@section PageStyle {
    <link href="@Url.Content("~/Content/Css/List.css")" rel="stylesheet" type="text/css" />
}
<div class="section-header">
    <h2>Danh Sách Tin</h2>
    <span class="line"></span>
</div>
<div class="container article-list">
    @foreach (var article in Model)
    {
        if (article.ImgUrls.Equals(""))
        {
            <!-- không có ảnh-->
            <div class="row article-item">
                <div class="col-md-12 article-infor">
                    <a class="detail-link article-title" href="/Article/Read/@article.Id">@article.Title</a>
                    <p class="article-description no-img">@article.Description</p>
                </div>
            </div>
        }
        else
        {
            <div class="row article-item">
                <div class="col-md-9 article-infor">
                    <a class="detail-link article-title" href="/Article/Read/@article.Id">@article.Title</a>
                    <p class="article-description">@article.Description</p>
                </div>
                <div class="col-md-3 aricle-thumb">
                    <img src="@article.ImgUrls.Split(',')[0]" alt="" class="img-responsive" />
                </div>
            </div>
        }
    }
</div>
<div class="page-separate">
    <p class="page-separate-text">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))
</div>






